body
{
    background-color:#adff2f;
    margin:0;
    padding:0;
    position:scroll;
    
    


}
p, h1{
    
    font-size:30px;
    color:blue;
    text-align: center;
}
div{
    background-color:aliceblue;
    height:500px;

    
}
.Footer{
    text-align: justify;
}